@model IEnumerable<LocadoraFilmes.Models.ClienteModel>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h3>Clientes</h3>

<script>
    
    function ModalView(Nome, Celular, Email, DtNascimento) 
    {
        document.getElementById("lblNomeClienteView").innerHTML = Nome;
        document.getElementById("lblTelefoneClienteView").innerHTML = Celular;
        document.getElementById("lblEmailClienteView").innerHTML = Email;
        document.getElementById("lblDtNascimentoClienteView").innerHTML = DtNascimento;

        $('#modalViewCliente').modal();
        return false;
    }
    
    function ModalDelete(id, nome)
    {
        document.getElementById("lblNomeCliente").innerHTML = nome;
        document.getElementById("hdnIdCliente").value = id;

        $('#modalConfirmaDelete').modal();
        return false;
    }

    function ActionDelete() 
    { 
        var id = document.getElementById("hdnIdCliente").value;

        window.location.href = '@Url.Action("Delete", "Cliente")/' + id;
    }

</script>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-info" role="alert">
        <button type="button" class="btn btn-info btn-sm close-info" arial-label="Close">X</button>
        @TempData["Mensagem"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtNascimento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  Id = item.Id  }) |
                <button type="button" class="btn" data-bs-toggle="modal" onclick="return ModalView('@item.Nome', '@item.Celular', '@item.Email', '@item.DtNascimento')">
                    Detalhes
                </button>
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" onclick="return ModalDelete('@item.Id', '@item.Nome')">
                    Deletar
                </button>
            </td>
        </tr>
}
    </tbody>
</table>

<input type="hidden" id="hdnIdCliente" />
<div class="modal fade" id="modalConfirmaDelete" tabindex="-1" aria-labelledby="labelHeaderModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="labelHeaderModal">Deseja Mesmo Deletar?</h1>
            </div>
            <div class="modal-body">
                Deseja mesmo deletar o cliente <label id="lblNomeCliente"/> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="return ActionDelete()">Tenho Certeza!</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalViewCliente" tabindex="-2" aria-labelledby="labelHeaderModal2" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title fs-5" id="labelHeaderModal2">Dados do Cliente</h3>
        </div>
        <div class="modal-body">
            <table>
                <tr>
                    <td>
                        <label>Nome:</label>
                    </td>
                    <td width="200">
                        <label id="lblNomeClienteView"></label>
                    </td>
                    <td>
                        <label>Telefone:</label>
                    </td>
                    <td>
                        <label id="lblTelefoneClienteView"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Email:</label>
                    </td>
                    <td>
                        <label id="lblEmailClienteView"></label>
                    </td>
                    <td>
                        <label>Data de Nascimento:</label>
                    </td>
                    <td>
                        <label id="lblDtNascimentoClienteView"></label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
    </div>
    </div>
</div>


